<div class="top-image">
  <img *ngIf="!!headerImageUrl" src="{{ headerImageUrl }}"/>
  <div *ngIf="!!albumImageUrl" class="album-image-container" [ngStyle]="{'background-color': darkColour}">
    <img src="{{ albumImageUrl }}">
    <div>
      <p style="font-size: 50px;" [ngStyle]="{'color': textColour}">{{albumDescription.title}}</p>
      <span style="font-size: 22px; padding-right: 8px;" [ngStyle]="{'color': textColour}">{{albumDuration}} by</span>
      <span style="font-size: 36px; padding-right: 35px;" [ngStyle]="{'color': textColour}">{{albumDescription.artistName}}</span>
      <p style="font-size: 22px; margin-top:20px;" [ngStyle]="{'color': textColour}">{{albumDescription.releaseDate}}</p>
    </div>
  </div>
  <div *ngIf="!!uploadedImageUrl">
    <div>
      <div class="form-group">
        <label for="top-image-input">
          <img class="image" id="top_image_id"/>
          <div class="middle">
            <div class="hoverText">change</div>
          </div>
        </label>
        <input
          type="file"
          id="top-image-input"
          (change)="topImageUpload($event)"
          style="display: none"
        />
      </div>
    </div>
  </div>
  <div *ngIf="!headerImageUrl && !uploadedImageUrl && !albumImageUrl" class="no-image">
    <div>
      <div>
        <label for="top-image-input">
          <img
            style="cursor: pointer;"
            width="60px"
            height="60px"
            src="/assets/icons/web/outline_add_photo_alternate_black_48dp.png"
          />
        </label>
        <input
          type="file"
          id="top-image-input"
          (change)="topImageUpload($event)"
          style="display: none"
        />
      </div>
    </div>
  </div>
</div>
