/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.app-signup-form-no-padding .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.mat-button-toggle-label-content {
  font-family: sans-serif;
  color: #47525e;
}
