.my-navbar {
  display: flex;
  border-bottom: solid;
  border-width: thin;
  border-color: #47525e;
}
.my-navbar-items {
  margin-left: 15%;
}
.my-navbar-items a {
  color: #dda9e4;
  float: left;
  text-align: center;
  padding: 0px 20px 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

.my-navbar-items img {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

.my-navbar-items img:hover {
  opacity: 0.4;
}

.playlist-list-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: sans-serif;
}

.playlist-list-container li:hover {
  cursor: pointer;
  opacity: 0.7;
}