<div class="my-navbar">
  <div class="my-navbar-items">
    <a href="" [routerLink]="['/home']"
      ><img src="/assets/icons/web/baseline_home_black_18dp.png"
    /></a>
    <a *ngIf="isRegistered" href="" [routerLink]="['/mylibrary']"
      ><img src="/assets/icons/web/baseline_library_music_black_18dp.png"
    /></a>
    <a *ngIf="isRegistered" (click)="openPlaylistCreationDialog()"
      ><img src="/assets/icons/web/baseline_playlist_add_black_18dp.png"
    /></a>
    <ul *ngIf="isRegistered" class="playlist-list-container">
      <li *ngFor="let playlist of playlists" [routerLink]="['/playlist', playlist.id]">
        <span *ngIf="playlist.id !== 'likedTracks'">
          {{playlist.name}}
        </span>
        <span *ngIf="playlist.id === 'likedTracks'">
          <mat-icon style="margin-top: -2px">
            favorite_outline
          </mat-icon>
        </span>
      </li>
    </ul>
    
  </div>
</div>
