<app-top-nav></app-top-nav>
<app-my-navbar></app-my-navbar>
<app-page-top-image
  *ngIf="artistMusic.artist_image_filename"
  [headerImageUrl]="artistMusic.artist_image_filename"
></app-page-top-image>
<app-artist-menu-bar [artistId]="artistMusic.id"></app-artist-menu-bar>
<app-track-list
  [tracks]="artistMusic.topTracks"
  [isArtistView]="true"
  [isAlbumView]="false"
  [trackListId]="artistMusic.id"
></app-track-list>
<app-comments-container></app-comments-container>
<app-artist-albums [albums]="albumsLite"></app-artist-albums>
<div style="height: 300px"></div>
