<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
  <a class="active" href="/home">indiestuff</a>
  <form class="search-form">
    <img
      class="search-icon"
      src="/assets/icons/web/baseline_search_black_18dp.png"
    />
    <input class="search-text" type="text" placeholder="search for music" />
    <!-- [formControl]="control"
           [matAutocomplete]="auto"> -->
  </form>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a> -->
  <div class="auth">
    <button class="auth-button" mat-button (click)="openSignupDialog()">
      sign up
    </button>
    <button class="auth-button" mat-button (click)="openLoginDialog()">log in</button>
  </div>
</div>
