<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
  <a class="active" href="/home">indiestuff</a>
  <form class="search-form">
    <mat-icon>search</mat-icon>
    <input
      type="text"
      placeholder="search for music"
      aria-label="Number"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        #matOption
        *ngFor="let option of filteredOptions | async"
        [value]="option.title"
        (click)="loadOption(option)"
      >
        <div>
          <p>{{ option.title }}</p>
        </div>
      </mat-option>
    </mat-autocomplete>
  </form>
  <div *ngIf="!isRegistered" class="auth">
    <button class="auth-button" mat-button (click)="openSignupDialog()">
      sign up
    </button>
    <button class="auth-button" mat-button (click)="openLoginDialog()">
      log in
    </button>
  </div>
  <div *ngIf="isRegistered" class="profile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/mypage']">
        <mat-icon>person</mat-icon>
        <span>me</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>dialpad</mat-icon>
        <span>logout</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span> -->
      <!-- </button> -->
    </mat-menu>
  </div>
</div>
