/* Add a black background color to the top navigation */
.topnav {
  background-color: #fff;
  overflow: hidden;
  border-bottom: solid;
  border-width: thin;
  border-color: #47525e;
  height: 40px;
  font-family: sans-serif;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  margin-left: 15%;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
}

.search-form {
  /* color: #d5dbd8; */
  height: 20px;
  width: 300px;
  margin-left: 100px;
  background-color: #d5dbd8;
  padding: 8px 20px;
  display: inherit;
  max-height: 200px;
  display: flex;
}

.search-form input {
  padding-left: 20px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
}

.search-form mat-icon {
  font-size: 36px;
  margin-top: -8px;
  margin-left: -15px;
}

.search-icon {
  border: none;
  outline: none;
  margin-top: -10px;
  height: 40px;
  opacity: 0.7;
}

.search-text {
  background-color: #d5dbd8;
  border: none;
  outline: none;
  font-family: inherit;
  margin-left: 20px;
  font-size: 20px;
  opacity: 0.7;
}

.result-option {
  height: 65px;
  width: 275px;
  display: flex;
}

.result-option div {
  max-width: 190px;
}

.result-option img {
  height: 65px;
  width: 65px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
}

mat-option.mat-option {
  position: relative;
  height: 74px !important;
  line-height: 24px !important;
  max-height: 74px !important;
  white-space: pre-wrap !important;
}

::ng-deep .cdk-overlay-pane {
  width: 290px !important;
}

.result-option p {
  margin: 0px;
  padding-bottom: 5px;
}

.auth {
  margin-left: 30%;
  display: inline;
}

.auth-button {
  color: #dda9e4;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  background-color: inherit;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.auth-button:focus {
  outline: none;
}

.profile {
  margin-left: 30%;
}
.profile button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.profile mat-icon {
  color: #dda9e4;
  font-size: 36px;
}
