.comment-form {
  margin: auto;
  margin-right: 22%;
  width: 74%;
}

.comment-modal {
  padding-top: 15px;
  padding-left: 3%;
  padding-right: 5%;
}

.form-group textarea {
  border-width: thin;
  border-color: #47525e;
  width: 100%;
  resize: none;
  font-family: helvetica;

  border-radius: 10px;
}

.comment-modal button {
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: #dda9e4;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
}

.comment-form button {
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: #dda9e4;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border-radius: 1px;
  border-color: inherit;
  text-decoration: none;
  border: none;
}

.comment {
  cursor: pointer;
}

.comment[disabled] {
  opacity: 0.5;
  cursor: default;
}
