.comments-list-custom {
  list-style-type: none; /* Remove bullets */
  font-family: sans-serif;
}

.custom-comments-container {
  max-height: 400px;
  margin-top: 25px;
  border: solid;
  border-color: #47525e;
  width: 82%;
  overflow: scroll;
  overflow-x: auto;
  word-wrap: normal;
}

.custom-modal-comments-container {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}

.non-favourte {
  padding-left: 20px;
}
.favourite {
  background-color: #f8e3ff;
  padding-left: 20px;
}
.date-style {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: -15px;
}

.date-style span {
  font-size: 10px;
  margin-bottom: 15px;
}

.reply-metadata {
  margin-top: -5px;
}

.reply-metadata span {
  font-size: 9px;
  font-style: italic;
}

.reply-button {
  border: none;
  outline: none;
  background-color: Transparent;
  font-weight: bold;
  color: #dda9e4;
  cursor: pointer;
}

.reply-button[disabled] {
  opacity: 0.5;
  cursor: default;
}