<div 
  class="custom-comments-container"   
  [ngClass]="{'custom-modal-comments-container': isModal}"
  *ngIf="postComment !== undefined">
  <h6 *ngIf="postComment?.length < 1">no comments found</h6>
  <ul
    style="padding: 0"
    class="comments-list-custom"
    *ngIf="postComment?.length > 0"
  >
    <li *ngFor="let post of postComment; let i = index">
      <div
        [ngClass]="
          post.favourite === true
            ? 'col-12 col-sm-12 comment-container favourite'
            : 'col-12 col-sm-12 comment-container non-favourte '
        "
      >
        <p>{{ post.commentTxt }}</p>
        <div class="actions date-style">
          <span style="font-weight: bold; font-size: 13px; margin-right: 5px">{{
            post.author
          }}</span>
          <span class="divider"></span>
          <span>{{ post.currentDate | date: "dd/MM/yyyy" }}</span>
          <span class="divider"></span>
          <button class="btn btn-sm btn-info" (click)="replyComment(i)">
            reply
          </button>
          <span class="divider"></span>
          <button class="btn btn-sm btn-danger" (click)="removeComment(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="childCommentBox">
          <div datacontainer></div>
          <ul
            class="comments-list-custom"
            *ngIf="post?.replyComment?.length > 0"
          >
            <li *ngFor="let reply of post.replyComment">
              <div class="col-12 col-sm-12 comment-container">
                <span style="font-size: 14px; font-style: italic">{{
                  reply.commentTxt
                }}</span>
                <div>
                  <span
                    style="
                      font-weight: bold;
                      font-size: 12px;
                      font-style: italic;
                    "
                    >{{ reply.author }}</span
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
