.add-album-container {
  color: #47525e;
  font-family: sans-serif;
  width: 80%;
  margin-left: 11%;
}

.album-or-single {
  display: flex;
}

.album-or-single mat-button-toggle-group {
  margin-left: 2%;
  margin-top: 15px;
  font-size: 34px;
  font-weight: bold;
  color: #47525e;
  font-family: sans-serif;
}

.mat-button-toggle-checked {
  background-color: rgb(248, 227, 255);
}

.form-container {
  display: flex;
}
.add-album-container h3 {
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.album-creation {
  margin-left: 3%;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: bold;
  height: 330px;
  width: 740px;
}

.album-creation input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 150px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.5;
  width: 425px;
}

.album-creation img {
  margin-top: -15px;
}

.image-uploaded {
  outline: transparent;
  border: none;
  padding: 0;
  margin: 0;
  float: right;
  padding-right: 50px;
  padding-top: 40px;
  width: 220px;
  height: 220px;
}

.left-side {
}

.right-side {
  margin-left: 20px;
  width: 60%;
  padding-top: 0px;
  margin-top: -20px;
}

.form-group {
  padding-top: 35px;
  padding-left: 30px;
  display: flex;
}

.left-side-items {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.left-side-items a {
  padding-left: 50px;
}

.left-side-items img {
  cursor: pointer;
  padding-left: 50px;
}

.left-side-items img:hover {
  opacity: 0.7;
}

.right-side-items {
  float: right;
  flex-direction: row;
  display: flex;
  padding-right: 10px;
}

.right-side-items img {
  height: 30px;
  padding-right: 30px;
  margin-top: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.track-box {
  /* padding: 20px 10px; */
  /* border-bottom: solid 1px #ccc; */
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}
.track-box:last-child {
  border: none;
}

.track-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.right-side-items li a {
  padding-left: 0px;
  margin-left: 0px;
}

.right-side-items a {
  padding-right: 30px;
}
.right-side-items img:hover {
  opacity: 0.7;
}
.right-side-items a:hover {
  opacity: 0.7;
}

.track-list {
  list-style-type: none; /* Remove bullets */
  font-family: sans-serif;
  font-size: 30px;
}

.right-side button {
  margin-top: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.right-side button mat-icon {
  font-size: 40px;
  padding-right: 20px;
}

.upload-image-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
