<form novalidate (ngSubmit)="onFormSubmit(albumForm)" #albumForm="ngForm">
    <div class="album-or-single">
        <mat-button-toggle-group
            [ngStyle]="{
                'background-color': (albumForEdit && albumForEdit.colour) || '#f8e3ff3f'
            }"
            [style.background]="color"
            #group="matButtonToggleGroup"
            [(ngModel)]="albumOrSingle"
            name="musicType"
            aria-label="Music Type"
        >
            <mat-button-toggle class="album-or-single-toggle" [disabled]="tracks && tracks.length === 1 && albumOrSingle === 'single'" value="album">album</mat-button-toggle>
            <mat-button-toggle
                class="album-or-single-toggle"
                [disabled]="tracks && (tracks.length > 1 || (tracks.length === 1 && albumForEdit)) && albumOrSingle === 'album'"
                value="single"
                >single
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div
        class="container"
        [ngStyle]="{
            'background-color': (albumForEdit && albumForEdit.colour) || '#f8e3ff3f'
        }"
        [style.background]="color"
    >
        <div class="album-creation box">
            <div class="album-title-text">
                <input
                    type="text"
                    placeholder="{{ group.value }} name something pretentious..."
                    class="form-control input-custom"
                    [ngModel]="albumForEdit ? albumForEdit.title : newAlbum.title"
                    name="title"
                    #title="ngModel"
                    id="inputTitle"
                    required
                />
            </div>
            <div class="album-title-label">
                <label for="inputTitle">{{ group.value }} title</label>
            </div>
            <div class="album-cover-label">
                <label for="inputCover" class="col-lg-2 control-label">add {{ group.value }} cover</label>
            </div>
            <div class="colour-label">
                <label for="inputColour" class="col-lg-2 control-label">colour</label>
            </div>
            <div class="album-cover-icon">
                <label for="file-input">
                    <img width="40px" height="40px" src="/assets/icons/web/outline_add_photo_alternate_black_48dp.png" />
                </label>
                <input type="file" id="file-input" (change)="imageUpload($event)" style="display: none" />
            </div>
            <div class="colour-icon">
                <img
                    width="40px"
                    height="40px"
                    src="/assets/icons/web/outline_color_lens_black_36dp.png"
                    [(colorPicker)]="color"
                    [cpColorMode]="'color'"
                    [cpPresetColors]="[
                        'rgba(71, 82, 94, 0.85)',
                        '#00008B',
                        '#2889e9',
                        '#431c53',
                        '#e920e9',
                        'rgb(178, 32, 101)',
                        '#FF8C00',
                        '#fff500',
                        '#8b0000',
                        'rgb(236,64,64)',
                        '#228B22',
                        '#20B2AA',
                        '#808000'
                    ]"
                    (colorPickerClose)="updateColor($event)"
                />
            </div>
            <div class="add-track-label">
                <label for="inputTrack" class="col-lg-2 control-label">add track</label>
            </div>
            <div class="add-track-icon">
                <img width="40px" height="40px" src="/assets/icons/web/outline_cloud_upload_black_36dp.png" (click)="openTrackUploadForm()" />
            </div>
            <div class="album-image">
                <img *ngIf="albumForEdit" class="image-uploaded" id="file_id" src="{{ albumForEdit.album_image_filename }}" />
                <img *ngIf="!albumForEdit" class="image-uploaded" id="file_id" />
            </div>
        </div>
        <div cdkDropList class="track-list new-track-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let track of tracks; index as i" class="track-box" cdkDrag>
                <div *ngIf="!track.shouldRemove" class="track-list-container">
                    <div class="index">
                        <a>{{ i + 1 }}</a>
                    </div>
                    <div class="play-state">
                        <mat-icon *ngIf="indexOfSongPlaying !== i || (isPaused && indexOfSongPlaying === i)" class="play-arrow" (click)="playSong(i)">play_arrow_outline</mat-icon>
                        <mat-icon *ngIf="isPaused === false && indexOfSongPlaying === i" class="pause-button" (click)="pauseTrack()">pause_outline</mat-icon>
                    </div>
                    <div class="track-title">
                        <a>{{ track.title }}</a>
                    </div>
                    <div class="duration">
                        <span>{{ track.durationInSec }}s</span>
                    </div>
                    <div class="edit">
                        <mat-icon class="edit-track" (click)="editTrack(i)"> edit </mat-icon>
                    </div>
                    <div class="remove">
                        <mat-icon class="remove-track" (click)="removeTrack(i)">close_outline</mat-icon>
                    </div>
                </div>
            </div>
            <div style="float: right; padding-right: 25px; padding-top: 10px">
                <button type="submit" cdkFocusInitial [disabled]="!albumForm.form.valid || (pendingUploads && pendingUploads.length > 0)">
                    <span style="padding-top: 30px">{{ albumForEdit ? 'submit edit' : 'create' }}</span>
                </button>
            </div>
        </div>
    </div>
</form>
