<app-top-nav></app-top-nav>
<app-my-navbar></app-my-navbar>
<app-artist-menu-bar
></app-artist-menu-bar>
<div class="security-container">
    <h3>change password</h3>
    <form
        novalidate
        (ngSubmit)="onFormSubmit(resetForm)"
        #resetForm="ngForm"
      >
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label"
            >new password</label
          >
          <div class="col-lg-7 password-input">
            <input
              type="password"
              class="form-control input-custom"
              [ngModel]="user.password"
              name="password"
              #password="ngModel"
              id="inputPassword"
              minlength="8"
              maxlength="20"
              required
            />
          </div>
        </div>

        <!-- Password error block -->
        <div
          *ngIf="password.invalid && password.touched"
          class="col-sm-3 text-danger"
        >
          <p *ngIf="password.invalid">
            password needs to be more than 8 characters
          </p>
        </div>


        <div class="form-group">
            <button
              type="submit"
              class="btn btn-success"
              mat-raised-button
            >
            submit
            </button>
        </div>
      </form>
</div>