<div class="player-container">
  <div class="play-button">
    <img style="padding-top:1px;" src="/assets/icons/web/baseline_play_arrow_black_18dp.png" height=40px width=40px>
  </div>
  <div class="progress-bar">
    <div class="progress-pin">
    </div>
  </div>
  <img style="padding-left: 15px;padding-top:5px;" src="/assets/icons/web/baseline_skip_previous_black_18dp.png"  height=40px width=40px>
  <img style="padding-left: 5px;padding-top:5px;" src="/assets/icons/web/baseline_skip_next_black_18dp.png"  height=40px width=40px>
  <img style="padding-left: 15px;padding-top:5px;" src="/assets/icons/web/baseline_repeat_black_18dp.png"  height=40px width=40px>
</div>
