<div class="player-container">
  <div class="track-details">
    <a>{{ currentTrack.title }}</a>
    <a> by </a>
    <a>{{ currentTrack.artistName }}</a>
    <a style="float: right; margin-top: -0.5px">{{ currentTime }}</a>
  </div>
  <div class="player-bar">
    <div class="play-button" id="playBtn">
      <img
        *ngIf="!isPlaying"
        style="padding-top: 1px"
        src="/assets/icons/web/baseline_play_arrow_black_18dp.png"
        (click)="play()"
        height="40px"
        width="40px"
      />
      <img
        *ngIf="isPlaying"
        style="padding-top: 1px"
        src="/assets/icons/web/baseline_pause_black_18dp.png"
        (click)="pause()"
        height="40px"
        width="40px"
      />
    </div>
    <div class="progress-bar-container">
      <mat-progress-bar
        mode="determinate"
        (click)="seekSongToLocation($event)"
        value="{{ playerElapsedTime }}"
        class="progress-bar"
      >
      </mat-progress-bar>
    </div>
    <div class="utility-player-buttons">
      <button (click)="previous()" class="player-utility-button">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button (click)="skip()" class="player-utility-button">
        <mat-icon>skip_next</mat-icon>
      </button>
      <button (click)="toggleLoop()" class="player-utility-button">
        <mat-icon [ngClass]="{ 'loop-playlist': loopState === 1 || loopState === 2}">{{repeatIcon}}</mat-icon>
      </button>

      <mat-slider
        class="volume-slider"
        (change)="updateVolume($event)"
        [value]="volumeValue"
        min="1"
        max="100">
      </mat-slider>
    </div>
  </div>
</div>
